.project {

  margin: 15px auto;
  border: 1px solid black;
  width: 200px;
  padding: 20px;
  background-color: lightgrey;
  cursor: pointer;

  &:hover {

    background-color: lighten(lightgrey, 5%);

  }

}
